<div class="row">  
    <div class="col-md-3" *ngFor="let item of collection | paginate: { itemsPerPage: 12, currentPage: p }">
        <br/>
      <div class="card" style="width: 12rem;">
          <img class="card-img-top" src="http://placehold.it/150x150" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{item.name}}</h4>
            <button class="btn btn-primary" (click)="OnLike(item)">like</button>
            <button class="btn btn-danger" (click)="OnDesLike(item)">deslike</button>
          </div>
      </div>
    </div>             
</div>
<div class="row">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
